:root {
  --color-bg: #171a37;
  --color-bg-soft: #2c2243;
  --color-fg: #c1a2e2;
  --color-blood: #ff00a8;
  --color-green-rot: #243b32;
  --color-blue: #375372;
  --color-blue-soft: #5a91a3;

  --color-link: var(--color-blood);

  --border: 3px double var(--color-blue-soft);
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--color-fg);
  background-image: url(../img/pentagram_tile.png);
}

main {
  margin: auto;
  padding: 2rem;
  width: 64rem;
  height: 32rem;
  background-color: var(--color-bg-soft);
  border: var(--border);
  border-radius: 3rem;
}

h1 {
  font-size: 3rem;
  color: var(--color-blue-soft);
}

