:root {
  --color-bg: #171a37;
  --color-bg-soft: #2c2243;
  --color-fg: #c1a2e2;
  --color-blood: #ff00a8;
  --color-green-rot: #243b32;
  --color-blue: #375372;
  --color-blue-soft: #5a91a3;

  --color-link: var(--color-blood);

  --window-border: 4px solid var(--color-blue-soft);

  --window-title-color: none;
  --window-title-bg: none;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  
  color: var(--color-fg);
  background-color: var(--color-green-rot);
  /* background-image: url(../images/pentagram_tile.png); */
}

.win95 {
  --color-white: #fff;
  --color-lightgray: #dfdfdf;
  --color-gray: #c0c0c0;
  --color-black: #000;

  --color-border: #c0c0c0;

  --color-b1: var(--color-black);
  --color-b2: var(--color-lightgray);
  --color-b3: var(--color-gray);
  --color-b4: var(--color-white);
  --color-bg: var(--color-gray);

  --window-title-color: var(--color-white);
  --window-title-bg: #000080;

  --win95-border-outset: url(../images/win95_border_outset.svg) 2 2;
  --win95-border-inset: url(../images/win95_border_inset.svg) 2 2;
  --win95-border-button: url(../images/win95_border_button.svg) 2 2;

  --win95-border: 0.4rem solid;

  color: var(--color-black);
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.outset {
  padding: 0.4rem;
  border: var(--win95-border);
  border-image: var(--win95-border-outset);
}

.inset {
  padding: 0.4rem;
  border: var(--win95-border);
  border-image: var(--win95-border-inset);
}

.window {
  background-color: var(--color-bg);
}

.button {
  display: flex;
  padding: 0.4rem;
  width: fit-content;
  background-color: var(--color-bg);
  border: var(--win95-border);
  border-image: var(--win95-border-button);
  justify-content: center;
  color: black;
}

.button > * {
  margin: auto;
}

footer .button.iconic img {
  width: 2.8rem;
  height: 2.8rem;
}

footer .button.iconic img.flag {
  height: 2.4rem;
  width: 2.4rem;
  border: 0.2rem solid black;
  border-radius: 0.4rem;
}

.title-bar {
  height: 2.4rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.4rem;
  color: var(--window-title-color);
  background-color: var(--window-title-bg);
}

.content {
  background-color: white;
}

footer {
  display: flex;
  gap: 0.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.4rem;
  padding: 0.4rem;
  border-top: var(--win95-border);
  border-image: var(--win95-border-outset);
  background-color: var(--color-gray);
}

h1 {
  font-size: 3rem;
  color: var(--color-blue-soft);
}

a {
  text-decoration: none;
  color: var(--color-link);
}
