:root {
  --win95-c-white: #fff;
  --win95-c-lightgray: #dfdfdf;
  --win95-c-gray: #c0c0c0;
  --win95-c-darkgray: #808080;
  --win95-c-black: #000;
  --win95-c-red: #f00;
  --win95-c-darkred: #800000;
  --win95-c-yellow: #ff0;
  --win95-c-darkyellow: #808000;
  --win95-c-green: #0f0;
  --win95-c-darkgreen: #008000;
  --win95-c-cyan: #0ff;
  --win95-c-darkcyan: #008080;
  --win95-c-blue: #00f;
  --win95-c-darkblue: #000080;
  --win95-c-magenta: #f0f;
  --win95-c-darkmagenta: #800080;
}

:root {
  --border: 0.4rem solid black;
  --border-button: url(border_button.svg) 2 2;
  --border-inset: url(border_inset.svg) 2 2;
  --border-outset: url(border_outset.svg) 2 2;

  --desktop-background: var(--win95-c-darkcyan);

  --window-text: var(--win95-c-black);
  --window-bg: var(--win95-c-gray);

  --window-title-color: var(--win95-c-white);
  --window-title-focus-bg: var(--win95-c-darkblue);
  --window-title-inactive-bg: var(--win95-c-darkgray);

  --icon-window-maximize: url(themes/win95/window_maximize.svg);
  --icon-window-minimize: url(themes/win95/window_minimize.svg);
  --icon-window-close: url(themes/win95/window_close.svg);

  --button-text: var(--win95-c-black);
  --button-bg: var(--window-bg);

  --taskbar-bg: var(--win95-c-gray);
}

.content,
.window,
.button {
  padding: 0.4rem;
  border: var(--border);
}

.window {
  border-image: var(--border-outset);
}

.content {
  border-image: var(--border-inset);
  background-color: white;
}

.button {
  background: var(--button-bg);
  border-image: var(--border-button);
}

.window-actions .button {
  padding: 0;
  width: 2.4rem;
  height: 2rem;
}

.window-title .favicon {
  width: 3.2rem;
  height: 2.8rem;
}

.window-actions .icon {
  background-repeat: no-repeat;
  background-size: cover;
}

.window-actions .close {
  margin-left: 0.4rem;
}

.taskbar {
  display: flex;
  gap: 0.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.4rem;
  padding: 0.4rem;
  border-top: var(--win95-border);
  border-image: var(--win95-border-outset);
  background-color: var(--taskbar-bg);
  user-select: none;
}

.taskbar img.logo {
  width: 2.8rem;
  height: 2.8rem;
}

.taskbar img.flag {
  height: 2.4rem;
  width: 2.4rem;
  border: 0.2rem solid black;
  border-radius: 0.4rem;
}
