:root {
  --c-white: #fff;
  --c-lightgray: #dfdfdf;
  --c-gray: #c0c0c0;
  --c-darkgray: #808080;
  --c-black: #000;
  --c-red: #f00;
  --c-darkred: #800000;
  --c-yellow: #ff0;
  --c-darkyellow: #808000;
  --c-green: #0f0;
  --c-darkgreen: #008000;
  --c-cyan: #0ff;
  --c-darkcyan: #008080;
  --c-blue: #00f;
  --c-darkblue: #000080;
  --c-magenta: #f0f;
  --c-darkmagenta: #800080;
}

:root {
  --border: 0.4rem solid black;
  --border-button: url(win95/border_button.svg) 2 2;
  --border-inset: url(win95/border_inset.svg) 2 2;
  --border-outset: url(win95/border_outset.svg) 2 2;

  --desktop-background: var(--c-darkcyan);

  --window-text: var(--c-black);
  --window-bg: var(--c-gray);

  --window-title-color: var(--c-white);
  --window-title-focus-bg: var(--c-darkblue);
  --window-title-inactive-bg: var(--c-darkgray);

  --icon-window-maximize: url(win95/window_maximize.svg);
  --icon-window-minimize: url(win95/window_minimize.svg);
  --icon-window-close: url(win95/window_close.svg);

  --button-text: var(--c-black);
  --button-bg: var(--window-bg);

  --taskbar-bg: var(--c-gray);
}

.window,
.content,
.button {
  padding: 0.4rem;
  border: var(--border);
}

.window {
  border-image: var(--border-outset);
}

.content {
  border-image: var(--border-inset);
  background-color: white;
}

.button {
  background: var(--button-bg);
  border-image: var(--border-button);
}

.window[focus] .titlebar {
  background-color: var(--window-title-focus-bg);
}

.window-title .favicon {
  width: 3.2rem;
  height: 2.8rem;
}

.window-actions .button {
  padding: 0;
  width: 2.4rem;
  height: 2rem;
}

.window-actions .icon {
  width: 2.4rem;
  height: 2rem;
}

.window-actions .minimize .icon {
  background-image: var(--icon-window-minimize);
}

.window-actions .maximize .icon {
  background-image: var(--icon-window-maximize);
}

.window-actions .close .icon {
  background-image: var(--icon-window-close);
}

.window-actions .close {
  margin-left: 0.4rem;
}

.taskbar {
  display: flex;
  gap: 0.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.4rem;
  padding: 0.4rem;
  border-top: var(--border);
  border-image: var(--border-outset);
  background-color: var(--taskbar-bg);
  user-select: none;
}

.taskbar img.logo {
  width: 2.8rem;
  height: 2.8rem;
}

.taskbar img.flag {
  height: 2.4rem;
  width: 2.4rem;
  border: 0.2rem solid black;
  border-radius: 0.4rem;
}
