:root {
  --c-rosewater: #f4dbd6;
  --c-flamingo: #f0c6c6;
  --c-pink: #f5bde6;
  --c-mauve: #c6a0f6;
  --c-red: #ed8796;
  --c-maroon: #ee99a0;
  --c-peach: #f5a97f;
  --c-yellow: #eed49f;
  --c-green: #a6da95;
  --c-teal: #8bd5ca;
  --c-sky: #91d7e3;
  --c-sapphire: #7dc4e4;
  --c-blue: #8aadf4;
  --c-lavender: #b7bdf8;
  --c-text: #cad3f5;
  --c-subtext1: #b8c0e0;
  --c-subtext0: #a5adcb;
  --c-overlay2: #939ab7;
  --c-overlay1: #8087a2;
  --c-overlay0: #6e738d;
  --c-surface2: #5b6078;
  --c-surface1: #494d64;
  --c-surface0: #363a4f;
  --c-base: #24273a;
  --c-mantle: #1e2030;
  --c-crust: #181926;
}

:root {
  --border-color: var(--c-crust);
  --shadow-color: var(--c-crust);

  --window-text: var(--c-text);
  --window-bg: var(--c-base);

  --window-title-color: var(--c-text);
  --window-title-inactive-bg: var(--c-bg-soft);

  --button-text: var(--c-text);

  --taskbar-bg: var(--c-crust);
}

body {
  background-color: var(--c-mantle);
}

.window {
  border-radius: 0.6rem;
  border-color: var(--border-color);
  color: var(--window-text);
  box-shadow: var(--shadow-color) 0.4rem 0.4rem;
}

.button {
  background: var(--button-bg);
}

.window-title {
  padding-left: 1rem;
}

.window-actions .icon {
  background-repeat: no-repeat;
  background-size: cover;
}

.window-actions .close {
  margin-left: 0.4rem;
}

.taskbar {
  display: flex;
  gap: 0.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.4rem;
  padding: 0.4rem 1rem;
  background-color: var(--taskbar-bg);
  user-select: none;
}

.taskbar svg,
.taskbar .flag {
  width: 2rem;
  height: 2rem;
  opacity: 0.35;
  transition: opacity ease-in-out 0.2s;
}

.taskbar .button:hover svg,
.taskbar .button:hover .flag {
  opacity: 0.75;
}

.taskbar .flag {
  border-radius: 0.4rem;
}

#twitch {
  color: var(--c-lavender);
}

#twitter {
  color: var(--c-sky);
}

#mastodon {
  color: var(--c-green);
}


#github {
  color: var(--c-mauve);
}
