:root {
  --bl33d-c-bg: #171a37;
  --bl33d-c-bg-soft: #2c2243;
  --bl33d-c-fg: #c1a2e2;
  --bl33d-c-blood: #ff00a8;
  --bl33d-c-green-rot: #243b32;
  --bl33d-c-blue: #375372;
  --bl33d-c-blue-soft: #5a91a3;
}

:root {
  --border: 0.4rem solid black;
  --border-button: url(themes/bl33d/border_button.svg) 2 2;
  --border-inset: url(themes/bl33d/border_inset.svg) 2 2;
  --border-outset: url(themes/bl33d/border_outset.svg) 2 2;

  --desktop-background: url(themes/bl33d/pentagram_tile.png);

  --window-text: var(--bl33d-c-black);
  --window-bg: var(--bl33d-c-gray);

  --window-title-color: var(--bl33d-c-fg);
  --window-title-focus-bg: var(--bl33d-c-blue);
  --window-title-inactive-bg: var(--bl33d-c-bg-soft);

  --icon-window-maximize: url(themes/bl33d/window_maximize.svg);
  --icon-window-minimize: url(themes/bl33d/window_minimize.svg);
  --icon-window-close: url(themes/bl33d/window_close.svg);

  --button-text: var(--win95-c-black);
  --button-bg: var(--window-bg);

  --taskbar-bg: var(--win95-c-gray);
}

.inset,
.outset {
  padding: 0.4rem;
}

.button {
  background: var(--button-bg);
}

.window-actions .button {
  padding: 0;
  width: 2.4rem;
  height: 2rem;
}

.window-title .favicon {
  width: 3.2rem;
  height: 2.8rem;
}

.window-actions .icon {
  background-repeat: no-repeat;
  background-size: cover;
}

.window-actions .close {
  margin-left: 0.4rem;
}

.taskbar {
  display: flex;
  gap: 0.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.4rem;
  padding: 0.4rem;
  border-top: var(--win95-border);
  border-image: var(--win95-border-outset);
  background-color: var(--taskbar-bg);
  user-select: none;
}

.taskbar img.logo {
  width: 2.8rem;
  height: 2.8rem;
}

.taskbar img.flag {
  height: 2.4rem;
  width: 2.4rem;
  border: 0.2rem solid black;
  border-radius: 0.4rem;
}
